---

- hosts: webservers
  become: true
  vars:
    apache_package: "{{ 'httpd' if ansible_os_family == 'RedHat' else 'apache2' }}"
    php_package: "{{ 'php' if ansible_os_family == 'RedHat' else 'libapache-mod-php' }}"
  tasks:

  - name: Remove httpd and php
    ansible.builtin.dnf:
      name:
        - "{{ apache_package }}"
        - "{{ php_package }}"
      state: absent
      autoremove: yes

  - name: Remove terraform
    tags: terraform
    ansible.builtin.dnf:
      name: "terraform"
      state: absent
      autoremove: yes


  - name: Remove index.html file
    tags: html
    ansible.builtin.file:
      name: "{{ item }}"
      state: absent
    loop:
      - /var/www/html/index.html
      - /usr/local/bin/LICENSE.txt
      - /usr/local/bin/terraform


