---

- hosts: webservers
  become: true
  tasks:

  - name: Remove httpd and nginx services
    ansible.builtin.dnf:
      name:
        - httpd
        - nginx
      state: absent
      autoremove: yes
    when: ansible_distribution == "OracleLinux"

